<div class="row mt-5">

    <!-- Mood Trend -->

    <div class="col-lg-8 mb-4">

        <div class="card shadow border-0">

            <div class="card-header bg-white">

                <h5 class="mb-0">
                    📈 Mood Trend
                </h5>

            </div>

            <div class="card-body">

                <canvas id="moodChart"></canvas>

            </div>

        </div>

    </div>

    <!-- Mood Distribution -->

    <div class="col-lg-4 mb-4">

        <div class="card shadow border-0">

            <div class="card-header bg-white">

                <h5 class="mb-0">

                    😊 Mood Distribution

                </h5>

            </div>

            <div class="card-body">

                <canvas id="pieChart"></canvas>

            </div>

        </div>

    </div>

</div>